.container {
  margin: 0 auto;
  max-width: 750px;
  border: 1px solid #e0e0e0;
  padding: 5px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, 1fr));
  gap: 5px;
}
.button {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}
.button:nth-child(4n) {
  background-color: #f79230;
}
.erase {
  grid-column: span 2;
}
.input,
.output {
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 95%;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  text-align: right;
}
